.ipynb_checkpoints/
pyjedai/__pycache__/
pyjedai/.ipynb_checkpoints/
examples/.ipynb_checkpoints/
examples/scripts/.ipynb_checkpoints/
data/der/synthetic/*
data/*
dev-only/data/*
data/supervised/*
.vscode/
.idea
tests/__pycache__/
*.zip
dev-only/logos/di_pyjedai.drawio
dev-only/logos/di_pyjedai.drawio (1).png
dev-only/logos/di_pyjedai.drawio.png
dev-only/logos/di_pyjedai.drawio.sm.png
dev-only/logos/logo.drawio
dev-only/logos/logo.drawio.png
dev-only/logos/media.drawio
dev-only/logos/media.drawio (1).png
dev-only/logos/media.drawio (2).png
dev-only/logos/media.drawio.png
dev-only/logos/pyjedai.logo (1) (1).drawio
dev-only/logos/pyjedai.logo (1).drawio
dev-only/logos/pyjedai.logo.drawio
dev-only/logos/pyjedai.logo.drawio (1).png
dev-only/logos/pyjedai.logo.drawio.png
dev-only/logos/pyjedai.logo.small.drawio.png
dev-only/logos/pyjedai.logo.w.drawio (1).png
dev-only/logos/pyjedai.logo.w.drawio.png
dev-only/vectorization.py
dev-only/vectorization.py
data/big/50Kduplicates.csv
data/big/50K.csv
data/big/300Kduplicates.csv
data/big/300K.csv
data/big/2Mduplicates.csv
data/big/2M.csv
data/big/200Kduplicates.csv
data/big/200K.csv
data/big/1Mduplicates.csv
data/big/1M.csv
data/big/10Kduplicates.csv
data/big/10K.csv
data/big/100Kduplicates.csv
data/big/100K.csv
data/rdf/restaurants/restaurant1.nt
data/rdf/restaurants/restaurant1.nt.csv
data/rdf/restaurants/restaurant1_restaurant2_goldstandard.rdf
data/rdf/restaurants/restaurant1_restaurant2_goldstandard.rdf.csv
data/rdf/restaurants/restaurant2.nt
data/rdf/restaurants/restaurant2.nt.csv
data/datasets/
data/datasets-backup/
dev-only/vectorization.py
dev-only/vectorization.py
documentation/~$workflow-example.odp
documentation/workflow-example.odp
dev-only/data/tvdbProfiles
dev-only/*
testBlocking.py
testEmbeddings.py
testJoin.py
AbtBuy.py
AmazonGp.py
blockingTest.py
d1Blocking.py
sbd1blocking.py
WalmartAmazon.py
data/magellan/textual_company_new/valid.csv
data/magellan/textual_company_new/train.csv
data/magellan/textual_company_new/test.csv
data/magellan/textual_company_new/tableB.csv
data/magellan/textual_company_new/tableA.csv
data/magellan/textual_company_new.tar.gz
data/magellan/newDatasets/Dn7/valid_set.csv
data/magellan/newDatasets/Dn7/train_set.csv
data/magellan/newDatasets/Dn7/test_set.csv
data/magellan/newDatasets/Dn7/tableB.csv
data/magellan/newDatasets/Dn7/tableA.csv
data/magellan/newDatasets/Dn6/valid_set.csv
data/magellan/newDatasets/Dn6/train_set.csv
data/magellan/newDatasets/Dn6/test_set.csv
data/magellan/newDatasets/Dn6/tableB.csv
data/magellan/newDatasets/Dn6/tableA.csv
data/magellan/newDatasets/Dn5/valid_set.csv
data/magellan/newDatasets/Dn5/train_set.csv
data/magellan/newDatasets/Dn5/test_set.csv
data/magellan/newDatasets/Dn5/tableB.csv
data/magellan/newDatasets/Dn5/tableA.csv
data/magellan/newDatasets/Dn2/valid_set.csv
data/magellan/newDatasets/Dn2/train_set.csv
data/magellan/newDatasets/Dn2/test_set.csv
data/magellan/newDatasets/Dn2/tableB.csv
data/magellan/newDatasets/Dn2/tableA.csv
data/magellan/newDatasets/Dn1/valid_set.csv
data/magellan/newDatasets/Dn1/train_set.csv
data/magellan/newDatasets/Dn1/test_set.csv
data/magellan/newDatasets/Dn1/tableB.csv
data/magellan/newDatasets/Dn1/tableA.csv
data/magellan/magellanNewDatasets.tar.gz
data/magellan/magellanExistingDatasets.tar.gz
data/magellan/existingDatasets/textual_company/valid.csv
data/magellan/existingDatasets/textual_company/train.csv
data/magellan/existingDatasets/textual_company/test.csv
data/magellan/existingDatasets/textual_company/tableB.csv
data/magellan/existingDatasets/textual_company/tableA.csv
data/magellan/existingDatasets/textual_abt_buy/valid.csv
data/magellan/existingDatasets/textual_abt_buy/train.csv
data/magellan/existingDatasets/textual_abt_buy/test.csv
data/magellan/existingDatasets/textual_abt_buy/tableB.csv
data/magellan/existingDatasets/textual_abt_buy/tableA.csv
data/magellan/existingDatasets/structured_walmart_amazon/valid.csv
data/magellan/existingDatasets/structured_walmart_amazon/train.csv
data/magellan/existingDatasets/structured_walmart_amazon/test.csv
data/magellan/existingDatasets/structured_walmart_amazon/tableB.csv
data/magellan/existingDatasets/structured_walmart_amazon/tableA.csv
data/magellan/existingDatasets/structured_itunes_amazon/valid.csv
data/magellan/existingDatasets/structured_itunes_amazon/train.csv
data/magellan/existingDatasets/structured_itunes_amazon/test.csv
data/magellan/existingDatasets/structured_itunes_amazon/tableB.csv
data/magellan/existingDatasets/structured_itunes_amazon/tableA.csv
data/magellan/existingDatasets/structured_fodors_zagats/valid.csv
data/magellan/existingDatasets/structured_fodors_zagats/train.csv
data/magellan/existingDatasets/structured_fodors_zagats/test.csv
data/magellan/existingDatasets/structured_fodors_zagats/tableB.csv
data/magellan/existingDatasets/structured_fodors_zagats/tableA.csv
data/magellan/existingDatasets/structured_dblp_scholar/valid.csv
data/magellan/existingDatasets/structured_dblp_scholar/train.csv
data/magellan/existingDatasets/structured_dblp_scholar/test.csv
data/magellan/existingDatasets/structured_dblp_scholar/tableB.csv
data/magellan/existingDatasets/structured_dblp_scholar/tableA.csv
data/magellan/existingDatasets/structured_dblp_acm/valid.csv
data/magellan/existingDatasets/structured_dblp_acm/train.csv
data/magellan/existingDatasets/structured_dblp_acm/test.csv
data/magellan/existingDatasets/structured_dblp_acm/tableB.csv
data/magellan/existingDatasets/structured_dblp_acm/tableA.csv
data/magellan/existingDatasets/structured_beer/valid.csv
data/magellan/existingDatasets/structured_beer/train.csv
data/magellan/existingDatasets/structured_beer/test.csv
data/magellan/existingDatasets/structured_beer/tableB.csv
data/magellan/existingDatasets/structured_beer/tableA.csv
data/magellan/existingDatasets/structured_amazon_google/valid.csv
data/magellan/existingDatasets/structured_amazon_google/train.csv
data/magellan/existingDatasets/structured_amazon_google/test.csv
data/magellan/existingDatasets/structured_amazon_google/tableB.csv
data/magellan/existingDatasets/structured_amazon_google/tableA.csv
data/magellan/existingDatasets/dirty_walmart_amazon/valid.csv
data/magellan/existingDatasets/dirty_walmart_amazon/train.csv
data/magellan/existingDatasets/dirty_walmart_amazon/test.csv
data/magellan/existingDatasets/dirty_walmart_amazon/tableB.csv
data/magellan/existingDatasets/dirty_walmart_amazon/tableA.csv
data/magellan/existingDatasets/dirty_itunes_amazon/valid.csv
data/magellan/existingDatasets/dirty_itunes_amazon/train.csv
data/magellan/existingDatasets/dirty_itunes_amazon/test.csv
data/magellan/existingDatasets/dirty_itunes_amazon/tableB.csv
data/magellan/existingDatasets/dirty_itunes_amazon/tableA.csv
data/magellan/existingDatasets/dirty_dblp_scholar/valid.csv
data/magellan/existingDatasets/dirty_dblp_scholar/train.csv
data/magellan/existingDatasets/dirty_dblp_scholar/test.csv
data/magellan/existingDatasets/dirty_dblp_scholar/tableB.csv
data/magellan/existingDatasets/dirty_dblp_scholar/tableA.csv
data/magellan/existingDatasets/dirty_dblp_acm/valid.csv
data/magellan/existingDatasets/dirty_dblp_acm/train.csv
data/magellan/existingDatasets/dirty_dblp_acm/test.csv
data/magellan/existingDatasets/dirty_dblp_acm/tableB.csv
data/magellan/existingDatasets/dirty_dblp_acm/tableA.csv
.embeddings/st5_embeddings_1.npy
.embeddings/st5_embeddings_2.npy
*.npy
.hypothesis/unicode_data/11.0.0/charmap.json.gz
tests/.hypothesis/
.indexer
results_vb/pyjedai.db
results_vb/nohup.out
results_vb/D9_WB.csv
results_vb/D8_WB.csv
results_vb/D7_WB.csv
results_vb/D6_WB.csv
results_vb/D5_WB.csv
results_vb/D4_WB.csv
results_vb/D3_WB.csv
results_vb/D2_WB.csv
results_vb/D1_WB.csv
results_vb/D10_WB.csv
results_cpu/pyjedai.db
results_cpu/D9_WB.csv
results_cpu/D8_WB.csv
results_cpu/D7_WB.csv
results_cpu/D6_WB.csv
results_cpu/D5_WB.csv
results_cpu/D4_WB.csv
results_cpu/D3_WB.csv
results_cpu/D2_WB.csv
results_cpu/D1_WB.csv
results_cpu/D10_WB.csv
results_cpu.tar.gz
results.tar.gz
data/
dev-only/
*.pyc
src/pyjedai/__pycache__/*
build/*
src/pyjedai.egg-info/*
